@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r2qgfw');
  src:  url('fonts/icomoon.eot?r2qgfw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r2qgfw') format('truetype'),
    url('fonts/icomoon.woff?r2qgfw') format('woff'),
    url('fonts/icomoon.svg?r2qgfw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
